.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rainbow-background {
  0%     { background-color: #ff0000; }
8.333%     { background-color: #ff8000; }
16.667%     { background-color: #ffff00; }
25.000%     { background-color: #80ff00; }
33.333%     { background-color: #00ff00; }
41.667%     { background-color: #00ff80; }
50.000%     { background-color: #00ffff; }
58.333%     { background-color: #0080ff; }
66.667%     { background-color: #0000ff; }
75.000%     { background-color: #8000ff; }
83.333%     { background-color: #ff00ff; }
91.667%     { background-color: #ff0080; }
100.00%     { background-color: #ff0000; }
}